@if(close) {
    <div class="container">
        <div class="content" [style.background-color]="color">
            <h1>Você tirou: {{ card }}</h1>
            <p>{{ description }}</p>
            @if(options){
                <div class="players">
                    <div class="customCheckBoxHolder">
                    @for(opts of optionsValid; track optionsValid) {
                            <input class="customCheckBoxInput" [id]="'cCB' + opts" type="checkbox" [checked]="selected === opts" (change)="selectOption(opts)">
                            <label class="customCheckBoxWrapper" [for]="'cCB' + opts">
                                    <div class="customCheckBox">
                                        <div class="inner">{{ opts }}</div>
                                    </div>
                            </label>
                        }
                    </div>
                </div>
            }
            <app-button name="Ok!" (click)="closePopup()"></app-button>
        </div>
    </div>
}
