<div class="container">
    <audio src="sounds/menu.mp3" autoplay loop [volume]="0.2"></audio>
    <div class="menu">
        <h1>Travessia da Sorte</h1>
        <div class="buttons">
            <a (click)="openModal('players')" class="btn">Iniciar</a>
            <a (click)="openModal('credits')" class="btn">Créditos</a>
            <a (click)="openModal('rules')" class="btn">Regras</a>
        </div>
    </div>

    <div class="modal" [class]="{'active': modalActive === 'players'}" id="players">
        <div class="modal-content mp">
            <h2>Quantidade de Jogadores</h2>
            <form id="playerForm">
                <label for="numPlayers">Selecione o número de jogadores (2 a 4): </label>
                <input class="numPlrs" #numPlayersInput [(ngModel)]="numPlayers" (ngModelChange)="generatePlayerFields(numPlayers)" type="number" id="numPlayers" name="numPlayers" min="2" max="4" required>
                <div class="names">
                @if(numPlayersInput.value !== "0" && numPlayersInput.value !== ""){
                    <p id="minNamePlayer">(Min 2 letras)</p>
                }    
                @for(playerName of playerNames; track playerNames) {
                    <div class="input-container">
                        <input
                          [(ngModel)]="playerNames[$index]"
                          (input)="soundInput()"
                          class="input"
                          name="text"
                          type="text"
                          required
                          minlength="2"
                          maxlength="9"
                          placeholder="Nome do Jogador {{$index + 1}}"
                        />
                    </div>
                }
            </div>

                <app-button (click)="iniciarJogo(numPlayersInput.value)" name="Começar a Corrida!" class="close"></app-button>
            </form>
            <app-button name="Fechar" (click)="closeModal()" class="close"></app-button>
        </div>  
    </div>

    <div class="modal" [class]="{'active': modalActive === 'credits'}" id="credits">
        <div class="modal-content mc">
            <h2>Créditos</h2>
            <p>Este trabalho foi desenvolvido para a disciplina de Computabilidade e Complexidade na UDF, com o objetivo de aplicar conceitos de complexidade em um contexto prático. O projeto resultou no jogo "<b>Travessia da Sorte</b>", que explora mecânicas baseadas em sorte e estratégia, integrando aspectos computacionais para modelar e analisar a dinâmica do jogo. O repositório do projeto pode ser acessado no GitHub: <a href="https://github.com/fsantosandrade/Board-Game" target="_blank">https://github.com/fsantosandrade/Board-Game</a></p>
            <h3>Autores:</h3>
            <ul>
                <li>Felipe Santos: 31386334</li>
                <li>Adilson Lopes: 29881510</li>
                <li>Addan Reis: 31385252</li>
                <li>Vinicius de Almeida: 29346487</li>
            </ul>
            <app-button name="Fechar" (click)="closeModal()" class="close"></app-button>
        </div>
    </div>

    <div class="modal" [class]="{'active': modalActive === 'rules'}" id="rules">
        <div class="modal-content mr">
            <h2>Regras do Jogo</h2>
            <div class="card">
                <p>No jogo "<b>Travessia da Sorte</b>", o objetivo é alcançar 100 pontos, usando principalmente a sorte e a estratégia para aproveitar os benefícios que as diferentes casas do tabuleiro podem oferecer. A cada rodada, os jogadores avançam com base no resultado de um dado.</p>
            </div>
            <div class="card">
                <img src="imgs/rules/chegada.png" alt="Linha de chegada">
                <h3>Linha de chegada</h3>
                <p>Sinaliza o inicio do jogo e consede ao jogador, cada vez que cruzar esta carta, um multiplicador de pontos.</p>
            </div>
            <div class="card">
                <img src="imgs/rules/sorte.png" alt="Carta da sorte">
                <h3>Carta da sorte</h3>
                <p>Esta carta pode te dar de 1 a 6 pontos.</p>
            </div>
            <div class="card">
                <img src="imgs/rules/ruim.png" alt="Carta do azar">
                <h3>Carta do azar</h3>
                <p>Esta carta pode te tirar de 1 a 3 pontos.</p>
            </div>
            <div class="card">
                <img src="imgs/rules/misterio.png" alt="Carta mistério">
                <h3>Carta mistério</h3>
                <p>Esta carta te dará uma habilidade misteriosa para utilizar durante a partida.</p>
            </div>
            <app-button name="Fechar" (click)="closeModal()" class="close"></app-button>
        </div>
    </div>
</div>