<div class="container">
    <audio src="sounds/race.mp3" autoplay loop [volume]="0.2"></audio>
    <div class="cards">
        @for (card of casas; track card.position) {
            <app-card-game [class]="'item' + card.position"
            [cardImg]="card.img"
            [color]="card.color"
            [cardNumber]="card.position"
            [players]="players"
            ></app-card-game>
        }@empty {
            <h1>Loading...</h1>
        }
        <div class="border"></div>
    </div>
    <div class="rolls">
        <ul>
            @for(player of players; track player.id){
                <li>
                    <span [style]="turns[player.id - 1] ? { 'color': 'green', 'font-weight': 'bold' } : { 'color': 'black', 'font-weight': 'normal' }">{{ player.id }} - {{ player.name }}</span>
                    <app-dice (diceRolled)="onRoll($event)" [canRoll]="turns[player.id - 1]"></app-dice>
                    <span>Pontuação: {{ players[player.id - 1].points }}</span>
                    @if(players[player.id - 1].laps > 1){
                        <span class="multiplicador">pontos x{{players[player.id - 1].laps}}</span>
                    }
                </li>
            }
        </ul>
    </div>
</div>
<app-information
 [close]="popupIsClosed"
 [color]="colorPopup"
 [card]="titlePopup"
 [description]="descriptionPopup"
 [options]="optionsIsClosed"
 [optionsValid]="optionsValid"
 (closeEvent)="onPopupClose()"
 (optionSelected)="onOptionSelected($event)"
 ></app-information>