.container {
    padding: 10px;
    width: 100vw;
    height: 100vh;
    background: url(../../../../public/imgs/background.png) center no-repeat;
    background-size: cover;
  
    & .cards {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      place-items: center;
      border-radius: 80px;
      overflow: hidden;
      border: 10px solid #3F3F3F;
      grid-template-areas:
      "a1 a2 a3 a4 a5 a6 a7 a8 a9 b1"
      "c4 c5 c5 c5 c5 c5 c5 c5 c5 b2"
      "c3 c2 c1 b9 b8 b7 b6 b5 b4 b3";
    }
  
    & .rolls > ul {
      display: flex;
      justify-content: space-around;
      margin-top: 40px;
      list-style: none;
  
      & li {
        display: flex;
        flex-flow: column;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
        width: 250px;
        padding: 10px;
        border-radius: 20px;
        gap: 10px;
        background-color: white;
        border: 10px solid rgb(71, 71, 71);
  
        & .multiplicador {
          color: orange;
          font-weight: bold;
        }
      }
    }
  }
  
  .item1 {
    grid-area: a1;
  }
  .item2 {
    grid-area: a2;
  }
  .item3 {
    grid-area: a3;
  }
  .item4 {
    grid-area: a4;
  }
  .item5 {
    grid-area: a5;
  }
  .item6 {
    grid-area: a6;
  }
  .item7 {
    grid-area: a7;
  }
  .item8 {
    grid-area: a8;
  }
  .item9 {
    grid-area: a9;
  }
  .item10 {
    grid-area: b1;
  }
  .item11 {
    grid-area: b2;
  }
  .item12 {
    grid-area: b3;
  }
  .item13 {
    grid-area: b4;
  }
  .item14 {
    grid-area: b5;
  }
  .item15 {
    grid-area: b6;
  }
  .item16 {
    grid-area: b7;
  }
  .item17 {
    grid-area: b8;
  }
  .item18 {
    grid-area: b9;
  }
  .item19 {
    grid-area: c1;
  }
  .item20 {
    grid-area: c2;
  }
  .item21 {
    grid-area: c3;
  }
  .item22 {
    grid-area: c4;
  }
  .border {
    grid-area: c5;
    width: 100%;
    height: 100%;
    border: 10px solid rgb(71, 71, 71);
    border-radius: 30px;
    transform: scaleY(1.12) scaleX(1.016);
    z-index: 99;
  }