<div class="container">
    <div class="cards">
        @for (card of casas; track card.position) {
            <app-card-game
            [cardImg]="card.img"
            [color]="card.color"
            [cardNumber]="card.position"
            [players]="players"
            ></app-card-game>
        }@empty {
            <h1>Loading...</h1>
        }
    </div>
    <div class="rolls">
        <ul>
            <li>
                <span [style]="turns[0] ? { 'color': 'green', 'font-weight': 'bold' } : { 'color': 'black', 'font-weight': 'normal' }">Player 1</span>
                <app-dice (diceRolled)="onRoll($event)" [canRoll]="turns[0]"></app-dice>
                <span>Pontuação: {{ players[0].points }}</span>
            </li>
            <li>
                <span [style]="turns[1] ? { 'color': 'green', 'font-weight': 'bold' } : { 'color': 'black', 'font-weight': 'normal' }">Player 2</span>
                <app-dice (diceRolled)="onRoll($event)" [canRoll]="turns[1]"></app-dice>
                <span>Pontuação: {{ players[1].points }}</span>
            </li>
            <li>
                <span [style]="turns[2] ? { 'color': 'green', 'font-weight': 'bold' } : { 'color': 'black', 'font-weight': 'normal' }">Player 3</span>
                <app-dice (diceRolled)="onRoll($event)" [canRoll]="turns[2]"></app-dice>
                <span>Pontuação: {{ players[2].points }}</span>
            </li>
            <li>
                <span [style]="turns[3] ? { 'color': 'green', 'font-weight': 'bold' } : { 'color': 'black', 'font-weight': 'normal' }">Player 4</span>
                <app-dice (diceRolled)="onRoll($event)" [canRoll]="turns[3]"></app-dice>
                <span>Pontuação: {{ players[3].points }}</span>
            </li>
        </ul>
    </div>
</div>
<app-information
 [close]="popupIsClosed"
 [color]="colorPopup"
 [card]="titlePopup"
 [description]="descriptionPopup"
 [options]="optionsIsClosed"
 [optionsValid]="optionsValid"
 (closeEvent)="onPopupClose()"
 (optionSelected)="onOptionSelected($event)"
 ></app-information>
<router-outlet />
