.container {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    & .gif1 {
        width: 250px;
        transform: translateY(180px);
    }

    & .gif2 {
        width: 250px;
        transform: translateY(180px) rotateZ(270deg);
    }

    & .content {
        background-color: #06A888;
        padding: 110px 220px;
        border-radius: 15px;
        color: white;

        & button {
            margin-top: 30px;
            background-color: white;
            padding: 15px 25px;
            border-radius: 25px;
            font-weight: bold;
            cursor: pointer;
            transition: .3s ease;
        }

        & button:hover {
            background-color: rgb(51, 51, 51);
            color: white;
        }
    }

    & .content > h1 {
        font-size: 2.5rem;
        margin-bottom: 30px;
    } 

    & .content > p {
        font-size: 1.5rem;
        font-weight: 600;
    }
}