@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');

.container {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    & .content {
        width: 600px;
        height: 450px;

        & .image {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

        & span {
            position: absolute;
            z-index: 2;
            font-weight: 600;
            font-size: 1.3rem;
            font-family: "Mystery Quest", system-ui;
            color: #742D2C;
            width: 98px;
            text-align: center;
            overflow: hidden;
        }

        & .p2 {
            left: 39.8%;
            bottom: 31.5%;
        }

        & .p1 {
            left: 47.4%;
            bottom: 36.5%;
            font-size: 1.6rem;
        }

        & .p3 {
            left: 54.8%;
            bottom: 29.8%;
            font-size: 1.2rem;
        }
    }
  }